*.?#[0-9]
/Track-Cam.GBL
/Track-Cam.GBO
/Track-Cam.GBP
/Track-Cam.GBS
/Track-Cam.GML
/Track-Cam.GTL
/Track-Cam.GTO
/Track-Cam.GTP
/Track-Cam.GTS
/Track-Cam.TXT
/Track-Cam.dri
/Track-Cam.gpi
/Track-Cam.pdf
/Track-Cam.pro
eagle.epf
